#toc, .toc, .mw-warning, .toccolours {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
    width: 350px;
}

.mw-body-content {
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;
}
.mw-body, .parsoid-body {
    padding: 1em;
    background-color: #ffffff;
    color: #222222;
    direction: ltr;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a:visited {
    color: #0b0080;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

.infobox
{
	background-color: rgb(248, 249, 250);
    font-size: 95%;
    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(162, 169, 177);
    border-image: initial;
    padding: 5px;
    margin: 5px;
}

#boton
{
	width: 31px;
    height: 31px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(162, 169, 177);
    border-image: initial;
    padding: 5px;
    vertical-align: bottom;

}

button.loading
{
	background: url(../img/loading.gif) 0 0;
	background-size: cover;
}
button.searchable
{
	background: url(../img/search.png) 0 0;
	background-size: cover;
}

#buttonwrapper
{
	display: inline;
}

#top
{
	text-align: center;
	background-color: #f4f4f4;
	margin-bottom: 10px;
	height: 55px;
    padding-top: 20px;
}

#titlefield
{
	background-color: rgb(248, 249, 250);
    font-size: 95%;
    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(162, 169, 177);
    border-image: initial;
    padding: 5px;
    height: 19px;
}

#content
{
	margin-left: 16px;
	margin-right: 16px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left:10px;
}

#search
{
	margin: 0 auto;
    padding-top: 20px;
    padding-left: 15px; 
    display: inline;
}

#language
{
	display: inline;
}

.hidden
{
	display: none;
}

#langselector
{
	background-color: rgb(248, 249, 250);
    font-size: 95%;
    width: 220px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(162, 169, 177);
    border-image: initial;
    padding: 5px;
}